*.pyc
__pycache__/*
Images/char
Images/Capture.png
Images/health/10_health_100b.png
Images/health/10_health_100c.png
Images/health/Hearts
.idea
Old/*
Tarbeyon.sublime-project
Tarbeyon.sublime-workspace